@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Wallpoet&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.clock{
  color: greenyellow;
  width: 300px;
  border-radius: 20px;
  font-family: 'Wallpoet', cursive;
  background-color: #2F2F2F;
  border: 4px inset #61dafb;
}
.countDown{
  margin-top: 1rem;
  color: greenyellow;
  width: 700px;
  border-radius: 20px;
  font-family: 'Wallpoet', cursive;
  background-color: #2F2F2F;
  border: 4px inset #61dafb;
}

.crono{
  color: greenyellow;
  width: 400px;
  border-radius: 20px;
  margin-top: 1rem;
  justify-content: center;
  font-family: 'Wallpoet', cursive;
  background-color: #2F2F2F;
  border: 4px inset #61dafb;
  
}
.crono__in{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.crono__in--active{
  border-radius: 20px;
  font-family: 'Wallpoet', cursive;
  color: orangered;
  font-size: large;
  width: 150px;
  margin: 5px;
  border-style: outset;
  border: 4px solid #767677;
}
.crono__in--active:hover{
  background-color: #61dafb;
}

